@import "../../styles/variables";
@import "../../styles/responsive";


.about-page {
  .title-header {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    color: $white;
    background-color: $blue-primary;

    h1 {
      margin: 0;
    }
  }

  .content {
    padding-top: 60px;
    padding-bottom: 100px;

    .join-section {
      margin-top: 80px;

      .contact-button {
        margin-top: 60px;
        display: flex;
        justify-content: center;

        button {
          background-color: $blue-primary;
          border: none;
          color: $white;
          font-size: 24px;
          padding: 10px 60px;
        }
      }
    }

    .team-section {
      margin-top: 80px;

      .contributors {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        flex-wrap: wrap;

        .contributor {
          width: calc(100% / 3);
        }
      }
    }

    .contact-section {
      margin-top: 120px;
    }
  }
}

@include device-specific($pc) {
  .about-page {
    .content {
      width: 40%;
    }
  }
}
@include device-specific($phone) {
  .about-page {
    .content {
      .team-section {
        .contributors {
          .contributor {
            width: 50%;
            margin-bottom: 40px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
