$white: #f8f9fa;
$black: rgba(0, 0, 0, 0.8);

$blue-primary: #014A7F;
$black-primary: #1c1b1b;

$blue-50: #29b4d9;
$blue-100: #247ba0;
$blue-200: #324376;
$blue-300: #0f084b;

$red-200: #ff5a5f;
$red-300: #fb3640;

$light-grey: #e7e7e7;

$regular-font-size: 1.25rem;
$font-verdana: Verdana, Geneva, sans-serif;
$font-title: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$header-height: 60px;
