@import "../styles/variables";
@import "../styles/responsive";

.index-page {
  .header-background {
    position: relative;
    top: -$header-height;
    padding-top: $header-height;

    display: flex;
    justify-content: center;
    background-color: $black-primary;
    min-height: 100vh;
    height: 100%;

    .header-content {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        height: auto;
        width: 40%;
      }

      h1 {
        color: $light-grey;
      }

      .header-actions {
        margin-top: 40px;

        button, a {
          width: 125px;
          color: $white;

          &:first-child {
            margin-right: 25px;
          }
        }
      }
    }
  }
  .blue-bg {
    background-color: $blue-primary;
    color: $white;
    margin-top: -$header-height;
  }
  .content {
    padding-top: 60px;

    .why-section {
      display: flex;
      margin-bottom: 80px;

      .description {
        width: 50%;
      }
      .image-container {
        width: 50%;
        display: flex;
        justify-content: center;

        .image {
          width: 400px;
          max-width: 400px;
        }
      }
      &.left-section {
        .description {
          padding-right: 25px;
        }
      }
      &.right-section {
        .image-container {
          padding-right: 25px;
        }
      }
    }
  }
}

@include device-specific($phone) {
  .index-page {
    .header-background {
      padding-top: 2 * $header-height;

      .header-content {
        img {
          width: 100%;
        }
      }
    }
    .content {
      padding-top: 40px;

      .why-section {
        flex-wrap: wrap;

        .description {
          width: 100%;
          order: 1;
          margin-bottom: 20px;
        }
        .image-container {
          order: 2;
          width: 100%;
        }
        &.left-section {
          .description {
            padding-right: 0;
          }
        }
        &.right-section {
          .image-container {
            padding-right: 0;
          }
        }
      }
    }
  }
}
