@import "../styles/variables";
@import "../styles/responsive";

.index-page {
  .header-background {
    position: relative;
    top: -$header-height;
    padding-top: $header-height;

    display: flex;
    justify-content: center;
    background-color: $black-primary;
    min-height: 100vh;
    height: 100%;

    .header-content {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        height: auto;
        width: 40%;
      }

      h1 {
        color: $light-grey;
      }

      .header-actions {
        margin-top: 40px;

        button, a {
          width: 125px;
          color: $white;

          &:first-child {
            margin-right: 25px;
          }
        }
      }
    }
  }

  .content {

  }
}

@include device-specific($phone) {
  .index-page {
    .header-background {
      padding-top: 2 * $header-height;

      .header-content {
        img {
          width: 100%;
        }
      }
    }
  }
}
