@import "../../../styles/variables";

.contributor-component {
  .contributor-image {
    display: flex;
    justify-content: center;

    img {
      width: 100px;
      height: auto;
    }
  }
  .contributor-name {
    display: flex;
    justify-content: center;
    font-weight: 600;
  }
  .contributor-title {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 14px;
  }
}
