@import "../../../styles/variables";

.blog-author-component {
  display: flex;

  .author-image {
    width: 120px;
    height: 120px;
    margin-right: 2.5rem;

    img {
      width: 100%;
      height: auto;
    }
  }
  .author-meta {
    .author-name {
      padding-top: 20px;
      text-transform: uppercase;
      font-size: 1.25rem;
      color: grey;
      font-weight: 600;
    }
    .author-links {
      margin-top: 10px;
      color: grey;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
