@import "../../../styles/variables";

.bullet-list-component {

  .bullet-list-item {
    display: flex;
    align-items: center;
    padding: 10px 0;

    .bullet {
      display: inline-block;
      background-color: $blue-50;
      min-width: 15px;
      min-height: 15px;
      height: 15px;
      width: 15px;
      margin-right: 10px;
      border-radius: 25px;
    }
    .bullet-text {
      font-size: 1.25rem;
    }
  }
}
